/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
   background: linear-gradient(180deg, rgb(16, 19, 49), #191f58, rgb(52, 36, 139));
    color: #ffffff;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 40px;
    background: #f8f8f8;

}

.logo {
    width: 18%;
    height: 4.1%;
    border-radius: 0.7%;
}
/* Barra de búsqueda */
.search {
   display: flex;
  justify-content: start; /* o 'flex-start' si fuera flexbox */
  padding: 20px;
}

.search-bar {
  width: 90%;                
  height: 1vw;
  
  font-size: 1.2vw;
  border-radius: 20vw;      
}

.search-bar:focus {
  box-shadow: 0 0 0.8vw rgba(0, 123, 255, 0.5);
}
/* boton de inicio sesion */

.btn-login {
  display: inline-flex;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border: none;
  padding: 3% 6%;
  font-size: 120%; 
   border-radius: 20vw;
   min-width: 20%;
  cursor: pointer;
  transition: all 0.3s ease;
   white-space: nowrap;
}

.btn-login:hover {
  background-color: #0056b3;
  transform: scale(1.05);
  box-shadow: 0 0.8% 2% rgba(0, 0, 0, 0.2);
}

.btn-login:active {
  transform: scale(0.98);
  background-color: #004494;
}
nav {
    display: flex;
    gap: 10%; 
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
    white-space: nowrap;
}
nav a:hover {
    color: #0077ff;
}

/* HERO */
.hero {
    text-align: center;
    padding: 1% 5%;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 20px;
    border-bottom: 2px solid white; /* línea blanca debajo */
    padding-bottom: 8px; 
}


.hero p {
    max-width: 50%;
    margin: auto;
    color: #ffffff;
    font-family: Candara Light;
}

/* CARRUSEL */
.carrusel {
  width: 40%;           /* ocupa el 80% del contenedor/pantalla */     /* ajusta altura proporcional */
  aspect-ratio: 600/350; /* mantiene la proporción original */
  margin: 3% auto;      /* centrado con margen arriba y abajo */
  overflow:hidden;
  border-radius: 1.25%; /* 15px proporcional */
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  position:relative;
}

.CarruselImg {
  display: flex;
  width: 300%;               /* 3 imágenes */
  animation: cambio 9s infinite;
}

.CarruselImg img {
  width: 33.3333%;           /* cada imagen ocupa 1/3 del contenedor */
  height: 100%;
  object-fit: cover;
}

@keyframes cambio {
  0%   { transform: translateX(0); }
  33%  { transform: translateX(0); }

  34%  { transform: translateX(-33.3333%); }
  66%  { transform: translateX(-33.3333%); }

  67%  { transform: translateX(-66.6666%); } /*translatex mueve el bloque de imagenes completo, no los margenes*/
  100% { transform: translateX(-66.6666%); }
}

     
     /*cada porcentaje es lo q lo mantiene visible del tiempo total, ejemplo 20% serian 2.4 segundos
     si la animacion dura 12 segundos y el margin left mueve el grupo de imagenes */

/* GALERÍA */
.gallery {
  display: flex;              
  justify-content: center;    
  gap: 20px;                 
  padding: 20px;
  flex-wrap: nowrap;         
}

.image-card {
  display: flex;
  flex-direction: column;    
  align-items: center;        
  width: 250px;              
}

.gallery-text {
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #ffffff;
}

.card {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

/*Formulario Login*/
.FormularioLogin{
    border: 6px solid, rgba(0, 154, 168, 0.74);
    border-style: groove;
    margin: 100px;
    margin-left: 550px;
    text-align: center;
    width: 750px;
    height: 300px;
}

h1{ font-family:Old English Text MT;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    border-bottom: 2px solid white; /* línea blanca debajo */
  padding-bottom: 8px; 
}
p1{ font-family: Candara Light;

}

.formularioL{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Candara Light;
    font-size: large;
}

input[type=text] {
  width: 250px;
  padding: 12px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 2px solid lab(55.35% 2.63 0.93);
  border-radius: 8px;
}

input[type=password] {
  width: 250px;
  padding: 12px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 2px solid lab(55.35% 2.63 0.93);
  border-radius: 8px;
}

  button[type=submit] {
  border: none; 
  color: rgb(0, 0, 0); 
  padding: 14px 28px; 
  cursor: pointer; 
  border-radius: 5px; 
}

 button[type=reset] {
  border: none; 
  color: rgb(3, 3, 3); 
  padding: 14px 28px; 
  cursor: pointer; 
  border-radius: 5px; 
}

 hr{margin-bottom: 20px;
    margin-top: 20px;
  }

/*Formulario Contact */ 

h2{
  width: 60%;                      
  margin: 40px auto;                
  font-size: 2rem;
  padding-bottom: 10px;
  gap: 50px;    
  margin-top: 60px;       
  display: flex;
   border-bottom: 2px solid white; /* línea blanca */
  
}

#formulariocontacto form{/* formulario completo  */
     border: 6px solid transparent;
     border-radius: 10px;
     background:
    linear-gradient(90deg, rgb(15, 26, 108), #1d1a53, rgb(51, 53, 103)) border-box;
    width: 1000px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;  
    justify-content: center; 
    align-items: center;   
    height: 500px;
   margin-left: auto;
   margin-right: auto;
}

#formulariocontacto form .campo,textarea{
    width: 50%;
    padding:15px 10px ;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
}

#formulariocontacto .container form .input{
 background-color: #007BFF; 
  color: white;            
  padding: 12px 20px;     
  font-size: 16px;           
  border: none;              
  border-radius: 5px; 
}

#formulariocontacto h3{/* datos de contacto */
    text-align: center;
    margin-top: 30px;
}
.contacto2 {
   padding-top: 0.5%; 
    display: flex;
  justify-content: center;     
  align-items: center;        
  gap: 3%;                    
  flex-wrap: wrap;            
  padding: 2%;
  border-radius: 1%;
}
.info p {
  font-size: 1.8rem;
  line-height: 1.2;
  border-bottom: 2px solid white; /* línea blanca debajo */
  padding-bottom: 8px;            /* espacio entre texto y línea */
  margin-bottom: 10px;
}
.info {
 width: 30%;
  text-align: left;
  font-family: Arial, sans-serif;
  letter-spacing: -0.5px;
}

.mapa-cuadrada {
  position: relative;
  width: 25%;
  aspect-ratio: 1 / 1;
  display: flex;              
  justify-content: center;
  align-items: center;
}

.mapa-cuadrada iframe {
 width: 100%;   
  height: 100%;
  border: 0;
  border-radius: 2%;
} 
.contacto .info {
  display: flex;          
  align-items: flex-start; 
  justify-content: space-between;
  gap: 20px;              
  flex-wrap: nowrap;       
}

.info a:hover {
  text-decoration: underline;
}

.contacto2 iframe {
  flex: 2;                    
  max-width: 100%;
  border-radius: 10px;
}
  
h3{
    font-family: Candara Light;
    text-align: center;
    margin-top: 90px;
}

.btn_enviar {
  display: inline-block;
  background-color: #007bff;
  color: white;
  text-decoration: none; 
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn_enviar:hover {
  background-color: #0056b3;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btn_enviar:active {
  transform: scale(0.98);
  background-color: #004494;
}

/* FOOTER */
.footer {
  background-color: #313131;
  color: #ffffff;
  padding: 2% 0;
  margin-top: 25%;
  font-family: 'Poppins', sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
  text-align: center;
}

/* SECCIÓN IZQUIERDA */
.footer-left h3 {
  font-size: 1.3vw;
  font-weight: 600;
  color: #ffffff;
  line-height: 1.3;
}

.footer-left h3 span {
  color: #ffffff;
}

.footer-redes {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  gap: 30%;
}

.footer-redes img {
  width: 2vw;
  height: auto;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.footer-redes img:hover {
  transform: scale(1.2);
  filter: brightness(1.2);
}

/* SECCIÓN CENTRAL */
.footer-center {
  text-align: center;
  max-width: 30%;
}

.footer-center img {
  width: 10vw;
  margin-bottom: 2%;
}

.footer-center p {
  font-size: 1vw;
  line-height: 1.6;
  border-left: 0.2vw solid #ffffff;
  border-right: 0.2vw solid #ffffff;
  padding: 0 2%;
}

/* SECCIÓN DERECHA */
.footer-right {
  display: flex;
  align-items: center;  /* centra verticalmente */
  justify-content: flex-end; /* alinea todo a la derecha */
  gap: 10px; /* espacio entre imagen y texto */
  color: #ffffff;
  font-weight: 600;
  font-size: 1vw;
}

.footer-right a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

.footer-right a:hover {
  color: #ffffff;
}

.footer-right img {
  width: 15%; /* tamaño pequeño */
  height: auto;
}
/* AJUSTE RESPONSIVE */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-center img {
    width: 25vw;
  }

  .footer-left h3 {
    font-size: 3.5vw;
  }

  .footer-right a {
    font-size: 3vw;
  }

  .footer-redes img {
    width: 6vw;
  }
}

/*Apartado clientes */

#SubtituloClientes{
  text-align: center;
  margin-top: auto;
  font-size:larger;
}

.clientesReseña{
  border-style: solid;
  border: 3%;
  width: 25%;
  margin-left: 3%;
  margin-bottom: 3%;
  margin-top: 3%;
}

.clientesReseña img{
  width: 50%;
  display: block; 
  border: 4px solid rgb(0, 0, 0);
  border-radius: 10px;  
  margin-bottom: 5%;
  margin-left: 25%; 
  margin-top: 5%; 
  align-items: center;
  text-align: center;
  flex-direction: column; 
}  

.Opinion{
  margin-left: auto;
  text-align:center;
  

}

.clientesColumna2{
  border-style: solid;
  border: 3%;
  width: 25%;
  margin-left: 71%;
  margin-bottom: 3%;
  display: flexbox;
  flex-wrap: wrap;
  justify-content: center;
 
  
}

.clientesColumna2 img{
  width: 50%;
  display: block; 
  border: 4px solid rgb(0, 0, 0);
  border-radius: 10px;  
  margin-bottom: 5%;
  margin-left: 25%; 
  margin-top: 5%; 
  align-items: center;
  text-align: center;
  flex-direction: column; 
}  

.OpinionColumna2{
  margin-left: auto;
  text-align:center;

}

